.container {
  max-width: 60rem;
  margin: 0 auto;
  padding: 0 $m-size;
}

$heading-font-family: "Roboto Condensed", sans-serif;
$base-font-family: "Lato", sans-serif;
$font-size: 14px;
$text-color: #555;
$text-muted: #999;
$active-color: #fc3d39;

$cell-border-color: #e5e5e5;
$cell-height: 35px;
$time-cell-width: 50px;
$time-cell-dot-size: 4px;
$weekend-cell-background-color: #fafafa;

$appointment-background-color: #e0f6d8;
$appointment-color: #0c881d;
$appointment-border-color: #76db56;
$appointment-line-height: 1em;

body {
  margin: 10px;
}

body,
html {
  background: #fff;
  color: $text-color;
  font-family: $base-font-family;
  font-size: $font-size;
}

* {
  box-sizing: border-box;
}
